@font-face {
    font-family: 'Helvetica';
    src: url('../../assets/fonts/Helvetica.woff2') format('woff2'),
        url('../../assets/fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../assets/fonts/Helvetica-Light.woff2') format('woff2'),
        url('../../assets/fonts/Helvetica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hoefler Text';
    src: url('../../assets/fonts/HoeflerText-Regular.woff2') format('woff2'),
        url('../../assets/fonts/HoeflerText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../assets/fonts/Helvetica-BoldOblique.woff2') format('woff2'),
        url('../../assets/fonts/Helvetica-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../assets/fonts/Helvetica-Oblique.woff2') format('woff2'),
        url('../../assets/fonts/Helvetica-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

